:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#carousel {
  width: 600px;
  height: 400px;
  border: 1px solid #212121;
}

@media screen and (max-width: 768px) {
  body {
    padding: 40px;
  }

  #carousel {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
